.table_resize {
  //background-color: white;
  //color: black;
  border-collapse: collapse;
  //border: 2px solid grey;
  border: 2px double cornflowerblue;
  font-size: 12px;
  max-width: 1200px;
  width: 870px;
  font-family: 'Times New Roman',Times,sans-serif;
  color: white;
  tr {
    border-bottom: 1px solid grey;
    td {
      border-right: 1px solid grey;
      .ant-picker {
        min-width: 84px;
        input {
          font-size: 12px;
        }
      }
    }
  }
}

@media print {
  .table_resize {
    background-color: white;
    color: black;
    max-width: 870px;
  }
}